body{
    background-color: #d2ecf9;
}

h1{
    color: #1f5f8b;
}

h2{
    color: #1f5f8b;
}


hr{
    background-color: transparent;
    border-style: none;
    border-top-style: dotted;
    border-color: #1f5f8b;
    border-width: 5px;
    width: 10%;
}