
body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

.first-break {
    margin-top: 0;
}

.top-container {
    background-color: rgb(144, 175, 216);
    position: relative;
    padding-top: 100px;
}

.keyboard {
    height: 200px;
    width: 200px;
}

.linkedin {
    height: 50px;
    width: 50px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;

}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.mountain {
    vertical-align: bottom;
}
